# dependencies
/node_modules

# environment
.env*

# database
/data/*.db
/data/*.db-journal
/data/*.db-wal
/data/*.db-shm
*.db

# OS / editor
.DS_Store
.vscode/
.idea/

# TypeScript / build
*.tsbuildinfo
/dist
